#create-form-wrapper {
  width: 50rem;
  margin: auto auto;
}

#create-form-wrapper form {
  background-color: rgb(233, 233, 233);
  padding: 3rem;
  border-radius: 0.8rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.26);
}

#create-form-wrapper form input,
#create-form-wrapper form textarea,
label {
  font-size: 1.6rem;
}

#create-form-wrapper form input,
#create-form-wrapper form textarea {
  padding: 1rem;
}

#create-form-wrapper form button {
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  #create-form-wrapper {
    width: 100%;
  }
}
